<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSfacturatechSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://69.160.41.171/WSfacturatech.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSfacturatechSoap" contract="FacturaTech.WSfacturatechSoap"
                name="WSfacturatechSoap" />
        </client>
    </system.serviceModel>
</configuration>